force-app/main/default/flows/Check_CASL_on_acc_and_assign_permission_set.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_casl_on_account_0</name>
        <label>Check casl on account</label>
        <locationX>1697</locationX>
        <locationY>1056</locationY>
        <defaultConnector>
            <targetReference>Check_permission_set_not_assigned_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CASL_checked_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CASL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_permission_set_not_assigned</targetReference>
            </connector>
            <label>CASL checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_permission_set_not_assigned</name>
        <label>Check permission set not assigned</label>
        <locationX>1499</locationX>
        <locationY>1176</locationY>
        <defaultConnector>
            <targetReference>User_of_contact_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Permission_set_not_assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_permission_set_of_current_contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Permission_set_to_user_0</targetReference>
            </connector>
            <label>Permission set not assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_permission_set_not_assigned_0</name>
        <label>Check permission set not assigned</label>
        <locationX>1896</locationX>
        <locationY>1176</locationY>
        <defaultConnector>
            <targetReference>Remove_Permission_set_from_user_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Permission_set_not_assigned_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_permission_set_of_current_contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_of_contact_0_0</targetReference>
            </connector>
            <label>Permission set not assigned</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Check CASL on acc and assign permission set {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check CASL on acc and assign permission set</label>
    <loops>
        <name>Contact_of_Account</name>
        <label>Contact of Account</label>
        <locationX>443</locationX>
        <locationY>576</locationY>
        <collectionReference>Get_account_contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_all_users_of_contact_0</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>User_of_contact_0_0</name>
        <label>User of contact</label>
        <locationX>1279</locationX>
        <locationY>816</locationY>
        <collectionReference>Get_all_users_of_contact_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_permission_set_of_current_contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Contact_of_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Assign_Permission_set_to_user_0</name>
        <label>Assign Permission set to user</label>
        <locationX>1367</locationX>
        <locationY>1296</locationY>
        <connector>
            <targetReference>User_of_contact_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>User_of_contact_0_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Get_Money_Tree_Inc_Loan_Permission.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Remove_Permission_set_from_user_0</name>
        <label>Remove Permission set from user</label>
        <locationX>1983</locationX>
        <locationY>1296</locationY>
        <connector>
            <targetReference>User_of_contact_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_of_contact_0_0.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Money_Tree_Inc_Loan_Permission.Id</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_account_contacts</name>
        <label>Get account contacts</label>
        <locationX>443</locationX>
        <locationY>456</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_of_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_users_of_contact_0</name>
        <label>Get all users of contact</label>
        <locationX>1279</locationX>
        <locationY>696</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_of_contact_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_of_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Money_Tree_Inc_Loan_Permission</name>
        <label>Get Money Tree Inc Loan Permission</label>
        <locationX>510</locationX>
        <locationY>342</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_account_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Money_Tree_Inc_Loan_Permission</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_permission_set_of_current_contact</name>
        <label>Get permission set of current contact</label>
        <locationX>1697</locationX>
        <locationY>936</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_casl_on_account_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_of_contact_0_0.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Money_Tree_Inc_Loan_Permission.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>451</locationX>
        <locationY>47</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CASL__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Money_Tree_Inc_Loan_Permission</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
