force-app/main/default/flows/Installments_Loan_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_total_ins_in_loan</name>
        <label>Assign total ins in loan</label>
        <locationX>1392</locationX>
        <locationY>2798</locationY>
        <assignmentItems>
            <assignToReference>Get_Loan_Record.Total_Installments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>insNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Loan_Record.Current_Installment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Loan_Record.Next_Pay_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nextPayDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Loan_Record.Loan_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoanStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_total_installments_of_loan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Installment_1_Rec_Assign_0_0</name>
        <label>Installment 1 Rec Assign</label>
        <locationX>1260</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>loanDetail1rec.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ins1Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanDetail1rec.Due_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ins1Due_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanDetail1rec.LoanDel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Loan_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>insNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanDetail1rec.Installment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>insName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanDetail1rec.Account_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Loan_Record.Opportunity.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nextPayDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ins1Due_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoanStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Loan_Detail_1_rec_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Installment_2_Rec_Assign_0_0_0_0</name>
        <label>Installment 2 Rec Assign</label>
        <locationX>1238</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>loanDetail1rec.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ins2Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanDetail1rec.Due_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ins2Due_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanDetail1rec.LoanDel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Loan_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>insNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanDetail1rec.Installment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>insName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanDetail1rec.Account_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Loan_Record.Opportunity.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoanStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Loan_Detail_2_rec_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Installment_3_Rec_Assign_0_0_0_0_0</name>
        <label>Installment 3 Rec Assign</label>
        <locationX>1238</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>loanDetail1rec.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ins3Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanDetail1rec.Due_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ins3Due_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanDetail1rec.LoanDel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Loan_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>insNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanDetail1rec.Installment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>insName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanDetail1rec.Account_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Loan_Record.Opportunity.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoanStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Loan_Detail_3_rec_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Next_pay_date_empty</name>
        <label>Next pay date empty</label>
        <locationX>1106</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>nextPayDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ins2Due_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Installment_2_Rec_Assign_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Next_pay_date_empty_0</name>
        <label>Next pay date empty</label>
        <locationX>1106</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>nextPayDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ins3Due_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Installment_3_Rec_Assign_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checking if due date is within 90 days and every due date should have an amount and due date of installment 1 should not be greater than ins 2 and 3.</description>
        <name>Check_due_date</name>
        <label>Check due date</label>
        <locationX>1117</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Check_ins1_amount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Due_date_gt_90_days</name>
            <conditionLogic>1 OR 2 OR 3 OR ( 4 AND 5 ) OR ( 6 AND 7 ) OR ( 8 AND 9 ) OR ( 11 AND 10 AND 13 ) OR ( 12 AND 10 AND 14 ) OR ( 12 AND 11 AND  15)</conditionLogic>
            <conditions>
                <leftValueReference>ins1Due_Date</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>currentDateninetyDays</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ins2Due_Date</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>currentDateninetyDays</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ins3Due_Date</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>currentDateninetyDays</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ins1Due_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ins1Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ins2Due_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ins2Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ins3Due_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ins3Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ins1Due_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ins2Due_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ins3Due_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ins1Due_Date</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ins2Due_Date</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ins1Due_Date</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ins3Due_Date</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ins2Due_Date</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ins3Due_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Due_date_invalid</targetReference>
            </connector>
            <label>Due date gt 90 days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_ins1_amount</name>
        <label>Check ins1 amount</label>
        <locationX>1392</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Check_ins2_amount_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ins1_amounnt_gt_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ins1Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ins1Due_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Installment_1_Rec_Assign_0_0</targetReference>
            </connector>
            <label>Ins1 amounnt gt 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_ins2_amount_0_0_0</name>
        <label>Check ins2 amount</label>
        <locationX>1392</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Check_ins3_amount_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ins2_amounnt_gt_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ins2Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ins2Due_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_next_pay_date</targetReference>
            </connector>
            <label>Ins2 amounnt gt 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_ins3_amount_0_0_0_0</name>
        <label>Check ins3 amount</label>
        <locationX>1392</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Assign_total_ins_in_loan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ins3_amounnt_gt_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ins3Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ins3Due_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_next_pay_date_0</targetReference>
            </connector>
            <label>Ins3 amounnt gt 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_next_pay_date</name>
        <label>Check next pay date</label>
        <locationX>1238</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Installment_2_Rec_Assign_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Next_pay_date_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nextPayDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Next_pay_date_empty</targetReference>
            </connector>
            <label>Next pay date is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_next_pay_date_0</name>
        <label>Check next pay date</label>
        <locationX>1238</locationX>
        <locationY>2126</locationY>
        <defaultConnector>
            <targetReference>Installment_3_Rec_Assign_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Next_pay_date_is_null_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nextPayDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Next_pay_date_empty_0</targetReference>
            </connector>
            <label>Next pay date is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_already_created_installments</name>
        <label>Checking already created installments</label>
        <locationX>382</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Create_Installments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Installment_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Record.Total_Installments__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExistScreen</targetReference>
            </connector>
            <label>Installment exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Installment_Amount_check</name>
        <label>Decision: Installment Amount Check</label>
        <locationX>715</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Check_due_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_installment_amount_gt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Record.Loan_Amount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>TotalInstallmentAmount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Installment_Amount_is_more</targetReference>
            </connector>
            <label>Installment amount gt</label>
        </rules>
        <rules>
            <name>Installment_amount_lt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Record.Loan_Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>TotalInstallmentAmount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>insAmtLessScreen</targetReference>
            </connector>
            <label>Installment amount lt</label>
        </rules>
    </decisions>
    <description>To create installments of each loan.</description>
    <environments>Default</environments>
    <formulas>
        <name>currentDateninetyDays</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 90</expression>
    </formulas>
    <formulas>
        <name>insName</name>
        <dataType>String</dataType>
        <expression>{!Get_Loan_Record.Name} + &apos;-Installment &apos;+ TEXT( {!insNumber} )</expression>
    </formulas>
    <formulas>
        <description>Installment amount entered by the user</description>
        <name>TotalInstallmentAmount</name>
        <dataType>Currency</dataType>
        <expression>{!ins1Amount}+{!ins2Amount}+{!ins3Amount}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Installments / Loan Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Installments / Loan Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Loan_Detail_1_rec_0_0</name>
        <label>Create Loan Detail 1 rec</label>
        <locationX>1260</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Check_ins2_amount_0_0_0</targetReference>
        </connector>
        <inputReference>loanDetail1rec</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Loan_Detail_2_rec_0_0_0_0</name>
        <label>Create Loan Detail 2 rec</label>
        <locationX>1238</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Check_ins3_amount_0_0_0_0</targetReference>
        </connector>
        <inputReference>loanDetail1rec</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Loan_Detail_3_rec_0_0_0_0_0</name>
        <label>Create Loan Detail 3 rec</label>
        <locationX>1238</locationX>
        <locationY>2582</locationY>
        <connector>
            <targetReference>Assign_total_ins_in_loan</targetReference>
        </connector>
        <inputReference>loanDetail1rec</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Loan_Record</name>
        <label>Get: Loan Record</label>
        <locationX>382</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_already_created_installments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_total_installments_of_loan</name>
        <label>Update total installments of loan</label>
        <locationX>1392</locationX>
        <locationY>2918</locationY>
        <inputReference>Get_Loan_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Create_Installments</name>
        <label>Create Installments</label>
        <locationX>715</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_Installment_Amount_check</targetReference>
        </connector>
        <fields>
            <name>Installment_1</name>
            <fieldText>Installment 1</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Installment_1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ins1Amount</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Installment_1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ins1Due_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Due Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Installment_2</name>
            <fieldText>Installment 2</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Installment_2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ins2Amount</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Installment_2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ins2Due_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Due Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Installment_3</name>
            <fieldText>Installment 3</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Installment_3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ins3Amount</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Installment_3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ins3Due_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Due Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Due_date_invalid</name>
        <label>Due date invalid</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dueDateInv</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(234, 22, 22); font-size: 16px;&quot;&gt;Due Date is incorrect.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ExistScreen</name>
        <label>ExistScreen</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>alreadyInsCreated</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(234, 8, 8);&quot;&gt;Installments are already created for this record.&lt;/strong&gt;&lt;span style=&quot;color: rgb(237, 18, 18);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Okay</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>insAmtLessScreen</name>
        <label>Less Amount</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>insLessAmt</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(237, 10, 10); font-size: 16px;&quot;&gt;The amount entered is less than the amount of loan taken.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(237, 10, 10); font-size: 16px;&quot;&gt;Installment Amount :{!TotalInstallmentAmount}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Installment_Amount_is_more</name>
        <label>Installment Amount is more</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>moreInsAmt</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(237, 10, 10);&quot;&gt;The amount entered is more than the amount of loan taken.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(237, 10, 10);&quot;&gt;Installment Amount:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(237, 10, 10);&quot;&gt;﻿{!TotalInstallmentAmount}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>256</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Loan_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>insNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>loanDetail1rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan_Detail__c</objectType>
    </variables>
    <variables>
        <name>LoanStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nextPayDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>totalInsAmt</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
