force-app/main/default/flows/Loan_is_not_paid_on_due_date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email_to_account_email_0</name>
        <label>Send email to account email</label>
        <locationX>1458</locationX>
        <locationY>408</locationY>
        <actionName>Loan_Detail__c.Loan_Detail_Installment_due_date</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_1_in_loopIdx</name>
        <label>Add 1 in loopIdx</label>
        <locationX>402</locationX>
        <locationY>1128</locationY>
        <assignmentItems>
            <assignToReference>loopIdx</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_loan_deatils_of_loan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_1_in_loopIdx_0</name>
        <label>Add 1 in loopIdx</label>
        <locationX>1282</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>loopIdx</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_loan_deatils_of_loan_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_amt_in_loan_detail</name>
        <label>Add amt in loan detail</label>
        <locationX>138</locationX>
        <locationY>1128</locationY>
        <assignmentItems>
            <assignToReference>Loop_loan_deatils_of_loan.Amount__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NextDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_loan_deatils_of_loan.Due_date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Unpaid_Amount_added_in_next_ins</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_amt_in_loan_detail_0</name>
        <label>Add amt in loan detail</label>
        <locationX>1018</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>NextDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_loan_deatils_of_loan_0.Due_date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_loan_status_to_completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_current_ins_to_loopIdx</name>
        <label>Add current ins to loopIdx</label>
        <locationX>314</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>loopIdx</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LoanDel__r.Current_Installment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoanStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Delinquent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_status_of_loan_record_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LoopIdxEqCurrIns</name>
        <label>LoopIdxEqCurrIns</label>
        <locationX>1194</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>loopIdx</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LoanDel__r.Current_Installment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoanStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_loan_status_to_completed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_ins_number</name>
        <label>Check ins number</label>
        <locationX>270</locationX>
        <locationY>1008</locationY>
        <defaultConnector>
            <targetReference>Add_1_in_loopIdx</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ins_number_to_add_amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopIdx</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>insNumToAddAmt</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_amt_in_loan_detail</targetReference>
            </connector>
            <label>Ins number to add amount</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_ins_number_0</name>
        <label>Check ins number</label>
        <locationX>1150</locationX>
        <locationY>768</locationY>
        <defaultConnector>
            <targetReference>Add_1_in_loopIdx_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ins_number_to_add_amount_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopIdx</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>insNumToAddAmt</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_amt_in_loan_detail_0</targetReference>
            </connector>
            <label>Ins number to add amount</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_loan_detail_status</name>
        <label>Check loan detail status</label>
        <locationX>622</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Checking_ins_number_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Loan_status_is_unpaid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Started</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unpaid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_case_record</targetReference>
            </connector>
            <label>Loan status is unpaid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_loan_detail_status_0</name>
        <label>Check loan detail status</label>
        <locationX>1590</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Loan_status_is_unpaid_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Started</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unpaid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_to_account_email_0</targetReference>
            </connector>
            <label>Loan status is unpaid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_ins_number</name>
        <label>Checking ins number</label>
        <locationX>182</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>Add_current_ins_to_loopIdx</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_a_last_installment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loan__r.Current_Installment__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LoanDel__r.Total_Installments__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_loan_deatails_of_loan</targetReference>
            </connector>
            <label>Not a last installment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_ins_number_0</name>
        <label>Checking ins number</label>
        <locationX>1062</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>LoopIdxEqCurrIns</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_a_last_installment_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loan__r.Current_Installment__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LoanDel__r.Total_Installments__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_loan_deatails_of_loan_0</targetReference>
            </connector>
            <label>Not a last installment</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CaseDescription</name>
        <dataType>String</dataType>
        <expression>{!$Record.Installment__c} + &apos; is not paid on due date.&apos;</expression>
    </formulas>
    <formulas>
        <name>insNumToAddAmt</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Loan__r.Current_Installment__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>PaidAmt</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Loan__r.Paid_Amount_of_Loan__c}+{!$Record.Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Loan is not paid on due date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan is not paid on due date</label>
    <loops>
        <name>Loop_loan_deatils_of_loan</name>
        <label>Loop:loan deatils of loan</label>
        <locationX>50</locationX>
        <locationY>888</locationY>
        <collectionReference>Get_loan_deatails_of_loan</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_ins_number</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_status_of_loan_record_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_loan_deatils_of_loan_0</name>
        <label>Loop:loan deatils of loan</label>
        <locationX>930</locationX>
        <locationY>648</locationY>
        <collectionReference>Get_loan_deatails_of_loan_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_ins_number_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_loan_status_to_completed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_case_record</name>
        <label>Create case record</label>
        <locationX>182</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>Update_status_to_unpaid_of_loan_detail</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.LoanDel__r.Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Installment not paid.</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_loan_deatails_of_loan</name>
        <label>Get loan deatails of loan</label>
        <locationX>50</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_loan_deatils_of_loan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanDel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LoanDel__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Loan_Detail__c</object>
        <sortField>Installment__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_loan_deatails_of_loan_0</name>
        <label>Get loan deatails of loan</label>
        <locationX>930</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_loan_deatils_of_loan_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanDel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LoanDel__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Loan_Detail__c</object>
        <sortField>Installment__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Unpaid_Amount_added_in_next_ins</name>
        <label>Unpaid Amount added in next ins</label>
        <locationX>138</locationX>
        <locationY>1248</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_status_of_loan_record_0_0</targetReference>
        </connector>
        <inputReference>Loop_loan_deatils_of_loan</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_loan_status_to_completed</name>
        <label>Update loan status to completed</label>
        <locationX>1062</locationX>
        <locationY>1356</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LoanDel__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Installment__c</field>
            <value>
                <elementReference>loopIdx</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Due_Date__c</field>
            <value>
                <elementReference>LastPayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Status__c</field>
            <value>
                <elementReference>LoanStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Pay_Date__c</field>
            <value>
                <elementReference>NextDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paid_Amount_of_Loan__c</field>
            <value>
                <elementReference>PaidAmt</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_status_of_loan_record_0_0</name>
        <label>Update status of loan record</label>
        <locationX>182</locationX>
        <locationY>1716</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LoanDel__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Installment__c</field>
            <value>
                <elementReference>loopIdx</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Due_Date__c</field>
            <value>
                <elementReference>LastPayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Status__c</field>
            <value>
                <elementReference>LoanStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Pay_Date__c</field>
            <value>
                <elementReference>NextDueDate</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_status_to_unpaid_of_loan_detail</name>
        <label>Update status to unpaid of loan detail</label>
        <locationX>182</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Checking_ins_number</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Unpaid</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <object>Loan_Detail__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Due_date_of_loan</name>
            <connector>
                <targetReference>Check_loan_detail_status</targetReference>
            </connector>
            <label>Due date of loan</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Due_date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Email_alert_1_day_before_due_date</name>
            <connector>
                <targetReference>Check_loan_detail_status_0</targetReference>
            </connector>
            <label>Email alert 1 day before due date</label>
            <offsetNumber>-1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Due_date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>LastPayDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.LoanDel__r.Next_Pay_Date__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>LoanStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </variables>
    <variables>
        <name>loopIdx</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NextDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
