force-app/main/default/flows/Loan_installments_details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_1_in_loopIdx_0</name>
        <label>Add 1 in loopIdx</label>
        <locationX>3218</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>loopIdx</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_loan_deatils_of_loan_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_amt_in_loan_detail</name>
        <label>Add amt in loan detail</label>
        <locationX>2074</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>Loop_loan_deatils_of_loan.Amount__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NextDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_loan_deatils_of_loan.Due_date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoanStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Delinquent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentIns</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopIdx</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_loan_deatils_of_loan.Penalty_Amount__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Penalty_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Unpaid_Amount_added_in_next_ins</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_amt_in_loan_detail_0</name>
        <label>Add amt in loan detail</label>
        <locationX>2954</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>NextDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_loan_deatils_of_loan_0.Due_date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_loan_status_to_completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Loan_status_void</name>
        <label>Loan status void</label>
        <locationX>2250</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>LoanStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Void</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_status_of_loan_record_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LoopIdxEqCurrIns</name>
        <label>LoopIdxEqCurrIns</label>
        <locationX>3130</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>LoanStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_loan_status_to_completed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_installment_is_paid</name>
        <label>Check if installment is paid</label>
        <locationX>402</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Loan_is_paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <label>Loan is paid</label>
        </rules>
        <rules>
            <name>Status_is_Reschedule</name>
            <conditionLogic>( (1 AND 2 ) OR ( 4 AND 5 ) OR ( 6 AND 7 ) ) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reschedule</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Reschedule</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Due_date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Loan2__r.Next_Pay_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refund</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Refund</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Void</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Void</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_loan_deatails_of_loan_0_0</targetReference>
            </connector>
            <label>Status is Reschedule Void Or Refund</label>
        </rules>
        <rules>
            <name>Status_is_Not_Started</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Started</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Not Started</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Due_date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.Loan2__r.Next_Pay_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_next_pay_date_of_loan</targetReference>
            </connector>
            <label>Status is Not Started</label>
        </rules>
        <rules>
            <name>Unpaid_is_checked</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mark_it_unpaid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Started</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_status_to_unpaid</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Unpaid is checked</label>
        </rules>
        <rules>
            <name>Paid_is_checked</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mark_it_paid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Started</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unpaid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_status_to_paid</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Paid is checked</label>
        </rules>
        <rules>
            <name>Status_is_unpaid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loan2__r.Remaining_Installment__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unpaid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_case_record</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Status is unpaid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_ins_number</name>
        <label>Check ins number</label>
        <locationX>2206</locationX>
        <locationY>888</locationY>
        <defaultConnector>
            <targetReference>Loop_loan_deatils_of_loan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ins_number_to_add_amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_loan_deatils_of_loan.Due_date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.Due_date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_loan_deatils_of_loan.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Void</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_loan_deatils_of_loan.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Unpaid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_loan_deatils_of_loan.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_loan_deatils_of_loan.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Refund</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_loan_deatils_of_loan.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Reschedule</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_amt_in_loan_detail</targetReference>
            </connector>
            <label>Ins number to add amount</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_ins_number_0</name>
        <label>Check ins number</label>
        <locationX>3086</locationX>
        <locationY>768</locationY>
        <defaultConnector>
            <targetReference>Add_1_in_loopIdx_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ins_number_to_add_amount_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_loan_deatils_of_loan_0.Due_date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.Due_date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_loan_deatils_of_loan_0.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Void</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_loan_deatils_of_loan_0.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_loan_deatils_of_loan_0.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Unpaid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_loan_deatils_of_loan_0.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Refund</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_loan_deatils_of_loan_0.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Reschedule</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_amt_in_loan_detail_0</targetReference>
            </connector>
            <label>Ins number to add amount</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_ins_number_0_0</name>
        <label>Check ins number</label>
        <locationX>270</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>Loop_loan_deatils_of_loan_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ins_number_to_add_amount_0_0</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>Loop_loan_deatils_of_loan_0_0.Due_date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.Due_date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_loan_deatils_of_loan_0_0.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Started</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_next_pay_date_in_loan</targetReference>
            </connector>
            <label>Ins number to add amount</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_loan_detail_status</name>
        <label>Check loan detail status</label>
        <locationX>2756</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Loan_status_is_unpaid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Started</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unpaid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_status_to_unpaid_of_loan_detail</targetReference>
            </connector>
            <label>Loan status is unpaid</label>
        </rules>
        <rules>
            <name>Loan_status_is_Paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checking_ins_number_0</targetReference>
            </connector>
            <label>Loan status is Paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_loan_detail_status_0</name>
        <label>Check loan detail status</label>
        <locationX>3790</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Loan_status_is_unpaid_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Started</stringValue>
                </rightValue>
            </conditions>
            <label>Loan status is unpaid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Payment_Type</name>
        <label>Check Payment Type</label>
        <locationX>4318</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Type_e_transfer_or_ach</name>
            <conditionLogic>(1 OR 2 ) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-Transfer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Started</stringValue>
                </rightValue>
            </conditions>
            <label>Type e-transfer or ach</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_ins_number</name>
        <label>Checking ins number</label>
        <locationX>2118</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>Loan_status_void</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_a_last_installment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loan2__r.Remaining_Installment__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_loan_deatails_of_loan</targetReference>
            </connector>
            <label>Not a last installment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_ins_number_0</name>
        <label>Checking ins number</label>
        <locationX>2998</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>LoopIdxEqCurrIns</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_a_last_installment_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loan2__r.Remaining_Installment__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_loan_deatails_of_loan_0</targetReference>
            </connector>
            <label>Not a last installment</label>
        </rules>
    </decisions>
    <description>New loan object&apos;s installments</description>
    <environments>Default</environments>
    <formulas>
        <name>Addlastpenaltyamountinamount</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Amount__c}+{!$Record.Penalty_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CaseDescription</name>
        <dataType>String</dataType>
        <expression>&apos;Installment-&apos;+{!$Record.Installment__c} + &apos; of &apos;+{!$Record.Loan2__r.Name}+&apos; is not paid on due date &apos;+TEXT({!$Record.Due_date__c})</expression>
    </formulas>
    <formulas>
        <name>insNumToAddAmt</name>
        <dataType>Number</dataType>
        <expression>1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>PaidAmt</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Loan2__r.Paid_Amount_of_Loan__c}+{!$Record.Total_Installment_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalInstallment</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Loan2__r.Total_Installments__c}+1)</expression>
    </formulas>
    <interviewLabel>Loan installments details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan installments details</label>
    <loops>
        <name>Loop_loan_deatils_of_loan</name>
        <label>Loop:loan deatils of loan</label>
        <locationX>1986</locationX>
        <locationY>768</locationY>
        <collectionReference>Get_loan_deatails_of_loan</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_ins_number</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_status_of_loan_record_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_loan_deatils_of_loan_0</name>
        <label>Loop:loan deatils of loan</label>
        <locationX>2866</locationX>
        <locationY>648</locationY>
        <collectionReference>Get_loan_deatails_of_loan_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_ins_number_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_loan_status_to_completed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_loan_deatils_of_loan_0_0</name>
        <label>Loop:loan deatils of loan</label>
        <locationX>50</locationX>
        <locationY>528</locationY>
        <collectionReference>Get_loan_deatails_of_loan_0_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_ins_number_0_0</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_case_record</name>
        <label>Create case record</label>
        <locationX>1106</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>Check_last_ins_track</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Loan2__r.Opportunity__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Loan2__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Installment not paid.</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_loan_deatails_of_loan</name>
        <label>Get loan deatails of loan</label>
        <locationX>1986</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_loan_deatils_of_loan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Loan2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Loan_Detail__c</object>
        <sortField>Due_date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_loan_deatails_of_loan_0</name>
        <label>Get loan deatails of loan</label>
        <locationX>2866</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_loan_deatils_of_loan_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Loan2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Loan_Detail__c</object>
        <sortField>Due_date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_loan_deatails_of_loan_0_0</name>
        <label>Get loan deatails of loan</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_loan_deatils_of_loan_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Loan2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Loan_Detail__c</object>
        <sortField>Due_date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Change_status_to_paid</name>
        <label>Change status to paid</label>
        <locationX>842</locationX>
        <locationY>408</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_if_installment_is_paid</targetReference>
        </connector>
        <inputAssignments>
            <field>Mark_it_unpaid__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Change_status_to_unpaid</name>
        <label>Change status to unpaid</label>
        <locationX>578</locationX>
        <locationY>408</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_if_installment_is_paid</targetReference>
        </connector>
        <inputAssignments>
            <field>Mark_it_paid__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Unpaid</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Check_last_ins_track</name>
        <label>Check last ins track</label>
        <locationX>1106</locationX>
        <locationY>528</locationY>
        <inputAssignments>
            <field>Last_Installment_Track__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_next_pay_date_in_loan</name>
        <label>Set next pay date in loan</label>
        <locationX>138</locationX>
        <locationY>768</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Loan2__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Due_Date__c</field>
            <value>
                <elementReference>$Record.Due_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Pay_Date__c</field>
            <value>
                <elementReference>Loop_loan_deatils_of_loan_0_0.Due_date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Loan__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Unpaid_Amount_added_in_next_ins</name>
        <label>Unpaid Amount added in next ins</label>
        <locationX>2074</locationX>
        <locationY>1128</locationY>
        <connector>
            <targetReference>Update_status_of_loan_record_0_0</targetReference>
        </connector>
        <inputReference>Loop_loan_deatils_of_loan</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_loan_status_to_completed</name>
        <label>Update loan status to completed</label>
        <locationX>2954</locationX>
        <locationY>1008</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Loan2__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Due_Date__c</field>
            <value>
                <elementReference>LastPayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Status__c</field>
            <value>
                <elementReference>LoanStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Pay_Date__c</field>
            <value>
                <elementReference>NextDueDate</elementReference>
            </value>
        </inputAssignments>
        <object>Loan__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_next_pay_date_of_loan</name>
        <label>Update next pay date of loan</label>
        <locationX>314</locationX>
        <locationY>408</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Loan2__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Pay_Date__c</field>
            <value>
                <elementReference>$Record.Due_date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Loan__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_status_of_loan_record_0_0</name>
        <label>Update status of loan record</label>
        <locationX>2074</locationX>
        <locationY>1248</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Loan2__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Due_Date__c</field>
            <value>
                <elementReference>LastPayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Status__c</field>
            <value>
                <elementReference>LoanStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Pay_Date__c</field>
            <value>
                <elementReference>NextDueDate</elementReference>
            </value>
        </inputAssignments>
        <object>Loan__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_status_to_unpaid_of_loan_detail</name>
        <label>Update status to unpaid of loan detail</label>
        <locationX>2118</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>Checking_ins_number</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Unpaid</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2234</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_installment_is_paid</targetReference>
        </connector>
        <object>Loan_Detail__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Due_date_of_loan</name>
            <connector>
                <targetReference>Check_loan_detail_status</targetReference>
            </connector>
            <label>Due date of loan</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Due_date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Email_alert_3_day_before_due_date</name>
            <connector>
                <targetReference>Check_loan_detail_status_0</targetReference>
            </connector>
            <label>Email alert 3 day before due date</label>
            <offsetNumber>-3</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Due_date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Payment_Type_e_transfer_ACH</name>
            <connector>
                <targetReference>Check_Payment_Type</targetReference>
            </connector>
            <label>Payment Type e-transfer/ACH</label>
            <offsetNumber>6</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Due_date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CurrentIns</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>LastPayDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Loan2__r.Next_Pay_Date__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>LoanStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>In-Progress</stringValue>
        </value>
    </variables>
    <variables>
        <name>loopIdx</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NextDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
